@{
    var user = User;
}
<a class="navbar-brand nav-link-black font-weight-bold" href="/">Eduman</a>
@if (user.Identity.IsAuthenticated)
{
    if (user.IsInRole("Teacher"))
    {
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Absences
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Absence" asp-action="Create">Create Absence</a></li>
                <li><a asp-controller="Absence" asp-action="All">All Absences</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Events
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Event" asp-action="Create">Create Event</a></li>
                <li><a asp-controller="Event" asp-action="All">All Events</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Fees
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Fees" asp-action="Create">Create Fee</a></li>
                <li><a asp-controller="Fees" asp-action="All">All Fees</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Grades
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Grades" asp-action="Create">Create Grade</a></li>
                <li><a asp-controller="Grades" asp-action="All">All Grades</a></li>
            </ul>
        </li>
    }
    if (user.IsInRole("Principal"))
    {
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Absences
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Absence" asp-action="All">All Absences</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Events
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Event" asp-action="Create">Create Event</a></li>
                <li><a asp-controller="Event" asp-action="All">All Events</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Fees
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Fees" asp-action="Create">Create Fee</a></li>
                <li><a asp-controller="Fees" asp-action="All">All Fees</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Grades
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Grades" asp-action="All">All Grades</a></li>
            </ul>
        </li>
    }
    if (user.IsInRole("Student"))
    {
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Absences
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Absence" asp-action="All">All Absences</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Events
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Event" asp-action="All">All Events</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Fees
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Fees" asp-action="All">All Fees</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="list-style:none">
            <a class="dropdown-toggle font-weight-bold nav-link" data-toggle="dropdown" href="#">
                Grades
            </a>
            <ul class="dropdown-menu list-style:none">
                <li><a asp-controller="Grades" asp-action="All">All Grades</a></li>
            </ul>
        </li>
    }
    <ul class="navbar-nav ml-auto" style="list-style:none">
        <li class="nav-item">
            <a class="nav-link font-weight-bold" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    </ul>
}