@{
    var user = User;
}
<a class="navbar-brand nav-link-black font-weight-bold" href="/">Eduman</a>
@if (user.Identity.IsAuthenticated)
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link font-weight-bold" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    </ul>
}