@{
    ViewData["Title"] = "Error";
}


<div class="jumbotron-fluid justify-content-center eduman-secbg-color" style="margin-top: 10em">
    <h1 class ="text-center text-dark">Sorry something went wrong!</h1>
</div>
