<div class="jumbotron ml-5  mr-5 mt-5 eduman-secbg-color">
    <h1 class="text-center">Your Register Request Has Been Noted!</h1>
    <div class="col-sm">
        <h2 class="text-center"><a class="nav-link-white text-primary" asp-controller="home" asp-action="Index">Go Back To The Home Page</a></h2>
    </div>
</div>